/*Estilos generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --size-w-caja: 540px;
  --size-w-input-texto: 145px;
  --color-primario: rgba(7, 63, 100, 0.98);
}

/*Estilos del texto de edad*/
#edad {
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  word-spacing: 2.5px;
  color: var(--color-primario);
}
/*Media querys para ventanas <540 px*/

@media (max-width: 540px) {
  :root {
    font-size: 12px;
    --size-w-caja: 99vw;
  }

  .container {
    position: static;
    margin: 0.2rem;
  }
}
